{% extends "base.html" %}
{% block content %}
<h1 class="title">Персоналии</h1>
<table class="table is-striped is-fullwidth">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Инструкции</th>
        <th>Стиль</th>
    </tr>
    </thead>
    <tbody>
    {% for personality in personalities %}
    <tr>
        <td>{{ personality.id }}</td>
        <td>{{ personality.title }}</td>
        <td>{{ personality.instructions }}</td>
        <td>{{ personality.style }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
